<div class="container">
  <h1 class="text-center"> Stock </h1>
  <section class="row text-center stocks-controls">
      <a href="<%= new_stock_path %>" class="btn btn-default">New Stock</a>
  </section>
  <% @stocks.each do |s| %>
    <article class="row city">
      <ul>
        <li class="col-md-2"><strong><%=image_tag s.product.imagen.thumb%></strong></li>
        <li class="col-md-3 stock_padding"><strong><%= s.fecha_vencimiento%></strong></li>
        <li class="col-md-1 stock_padding"><strong><%= s.cantidad%></strong></li>
        <li class="col-md-2 stock_padding"><a href="<%= stock_path(s.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
        <li class="col-md-2 stock_padding"><a href="<%= edit_stock_path(s.id) %>" class="btn btn-primary"> Edit </a></li>
        <li class="col-md-2 stock_padding"><a href="<%= stock_path(s.id) %>" class="btn btn-info"> Show </a></li>
      </ul>
    </article>
  <% end if @stocks.any? %>
</div>
