<div class="container">
  <article class="row city">
    <ul>
      <li class="col-md-2 botones"><strong><%= @stock.id_usuario%></strong></li>
      <li class="col-md-2"><strong><%=image_tag @stock.product.imagen.thumb%></strong></li>
      <li class="col-md-2 botones"><%= @stock.fecha_vencimiento%></li>
      <li class="col-md-2 botones"><%= @stock.cantidad%></li>
      <li class="col-md-2 botones"><a href="<%= stock_path(@stock.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
      <li class="col-md-2 botones"><a href="<%= stocks_path(@stock.id)%>" class="btn btn-info"> View all </a></li>
    </ul>
  </article>
</div>
