<div class="container">
  <h1 class="text-center"> Products </h1>
  <section class="row text-center products-controls">
      <a href="<%= new_product_path %>" class="btn btn-default"> New Product </a>
  </section>
  <% @products.each do |p| %>
    <article class="row city">
      <ul>
        <li class="col-md-3 nombre_producto"><strong><%= p.nombre %></strong></li>
        <li class="col-md-3"><%= image_tag p.imagen.thumb %></li>
        <li class="col-md-2 botones"><a href="<%= product_path(p.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
        <li class="col-md-2 botones"><a href="<%= edit_product_path(p.id) %>" class="btn btn-primary"> Edit </a></li>
        <li class="col-md-2 botones"><a href="<%= product_path(p.id) %>" class="btn btn-info"> Show </a></li>
      </ul>
    </article>
  <% end if @products.any? %>
  <article>
    <ul class="pager pagination">
      <li class="previous"><a href="<%= labs_path %>"><span aria-hidden="true">&larr;</span>Back</a></li>
      <li class="next" ><a href="<%= stocks_path %>">Next<span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </article>
</div>
